<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @staff_code.code %>
</p>

<p>
  <strong>Points:</strong>
  <%= @staff_code.points %>
</p>

<%= link_to 'Edit', edit_staff_code_path(@staff_code) %> |
<%= link_to 'Back', staff_codes_path %>
