<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between"> 
  <div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Treatment Database', root_path, class: 'navbar-brand' %>
        </li>
        <li class="nav-item">
          <%= link_to('Conservation Record', conservation_records_path, class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to('Vocabularies', controlled_vocabularies_path, class: 'nav-link') %>
        </li>
      </ul>
    </div>
  </div>
  </li>
  <div>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if !user_signed_in? %>
      <li class="nav-item">
        <%= link_to('Log in', new_user_session_path, class: 'nav-link') %>
      </li>
      <li class="nav-item">
        <%= link_to('Sign up', new_user_registration_path, class: 'nav-link') %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to('Edit account', edit_user_registration_path, class: 'nav-link') %>
      </li>
      <li class="nav-item">
        <%= link_to('Log out', destroy_user_session_path, method: :delete, class: 'nav-link') %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
