<h1>Welcome Back</h1>
<h2>Please log in to continue</h2>

<%= form_with(url: dev_sessions_path, local: true) do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <br/>
  <div>
    <%= form.submit 'Log in' %>
  </div>
<% end %>

<hr/>
<p>Or log in using Shibboleth:</p>
<%= link_to 'Log in with Shibboleth Instead', new_session_path, class: 'btn btn-secondary text-white' %>

