<h2><%= version_summarizer(@version).html_safe %></h2>

<center>
  <button class="btn btn-danger">Revert to This Version</button>
</center>
<br>

<% if @version.event == 'create' %>
  <center>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">No Diff Information to Show</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">This version was logged right after it was created, so there is nothing to compare against.</p>
      </div>
    </div>
  </center>
<% else %>
  <table class="table">
    <thead>
      <th>Field</th>
      <th>Was</th>
      <th>Is</th>
    </thead>

    <tbody>
      <% @version.changeset.each do |change| %>
        <tr>
          <td><%= change[0] %></td>
          <td><%= change[1][0] %></td>
          <td><%= change[1][1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
  

<h3>Other Activity on this Record</h3>

<table class="table">
  <thead>
    <th>Action</th>
    <th>When</th>
    <th>Detail</th>
  </thead>

  <tbody>
    <% @other_versions.all.each do |version| %>
      <tr>
        <td><%= version_summarizer(version).html_safe %></td>
        <td><%= version.created_at.in_time_zone("America/New_York").strftime("%-m/%-d/%y: %H:%M %Z") %>
        <td><%= link_to "Details", activity_path(version) %></td>
      </tr>
    <% end %>
  </tbody>
</table>