<%= form_with(model: conservation_record, local: true) do |form| %>
  <% if conservation_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conservation_record.errors.count, "error") %> prohibited this conservation_record from being saved:</h2>
      <ul>
      <% conservation_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="form-block">
    <div class="form-group">
      <%= form.label :date_received_in_preservation_services %>
      <%= form.date_field :date_received_in_preservation_services, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :department %>
      <%= form.select(:department, options_from_collection_for_select(@departments, "id", "key", @conservation_record.department), { prompt: 'Select Department' }, {class: 'form-control'}) %>
    </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :imprint %>
    <%= form.text_field :imprint, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :call_number %>
    <%= form.text_field :call_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :item_record_number %>
    <%= form.text_field :item_record_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :digitization %>
    <%= form.check_box :digitization, class: 'btn btn-primary' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
</div>
<% end %>
