<style>
.banner {
  font-size: 20px;
  background-color: maroon;
  color: white;
}

.section {
  margin-bottom: 15px;
  display: table-row;
}

table {
  text-align: left;
  font-size: 4vh;
  font-size: 12px;
  display: inline;
}

.a4 {
  width: 900px;
  margin: 0 auto;
  display: table;
}

.image img {
  width: 100%; 
  object-fit: contain;
   position:fixed;
   left:0px;
   bottom:0px;
}

</style>
<div class="pdf a4">
  <div class="banner section">
    Preservation Lab Book Conservation Worksheet - <%= controlled_vocabulary_lookup(@conservation_record.department) %> 
  </div>
  <div class="section">
    <table width="100%">
      <tr>
        <th>Digitization</th>
        <th>Item Record #</th>
        <th>Database ID</th>
        <th>Collection</th>
        <th>Call Number</th>
        <th>Date In</th>
        <th>Date Out</th>
      </tr>
      <tr>
        <td><%= @conservation_record.digitization ? "Yes" : "No" %></td>
        <td><%= @conservation_record.item_record_number %></td>
        <td><%= @conservation_record.id %></td>
        <td><%= controlled_vocabulary_lookup(@conservation_record.department) %></td>
        <td><%= @conservation_record.call_number %></td>
        <td><%= @conservation_record.date_received_in_preservation_services %></td>
        <td><%= date_returned(@conservation_record) %></td>
      </tr>
      <tr>
        <th>Title</th>
      </tr>
      <tr>
        <td><%= @conservation_record.title %></td>
      </tr>
      <tr>
        <th>Imprint</th>
	<th>Author</th>
      </tr>
      <tr>
	<td><%= @conservation_record.imprint %></td>
	<td><%= @conservation_record.author %></td>
      </tr>
    </table>
  </div>

  <div class="image">
    <img src="<%= @base_64_form_image %>" alt="Image of conservation worksheet form." />
  </div>
</div>
