<div class="header">
  <h1>Conservation Records</h1>
  <% if can? :create, ConservationRecord %>
    <%= link_to 'New Conservation Record', new_conservation_record_path, class: "btn btn-primary justify-content-right" %>
  <% end %>
</div>

<p></p>

<table class="table">
  <thead>
    <tr>
      <th>Database ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Call number</th>
      <th>Item record number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conservation_records.each do |conservation_record| %>
      <tr>
        <td><%= conservation_record.id %></td>
        <td><%= link_to conservation_record.title, conservation_record %></td>
        <td><%= conservation_record.author %></td>
        <td><%= conservation_record.call_number %></td>
        <td><%= conservation_record.item_record_number %></td>

        <% if can? :crud, ConservationRecord %>
          <td>
           <%= link_to [conservation_record], method: :delete, data: {confirm: "Are you sure?"} do %>
              <button class="btn btn-danger justify-content-right">
                 <%= image_tag "delete.png", class: "delete-icon" %>
              </button>
           <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="float-right"> <%== pagy_bootstrap_nav(@pagy).html_safe %> </div>
