<%= link_to 'â† Return to List', conservation_records_path %>
<div class="header">
  <h1><%= @conservation_record.title %></h1>
  <% if can? :crud, ConservationRecord %>
    <%= link_to 'Edit Conservation Record', edit_conservation_record_path(@conservation_record) %>
  <% end %>
</div>

<%= link_to 'Download Conservation Worksheet', conservation_worksheet_path(@conservation_record), target: "_blank" %>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Item Detail</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Database ID</th>
          <td><%= @conservation_record.id %></td>
        </tr>
        <tr>
          <th scope="row">Date Recieved</th>
          <td><%= @conservation_record.date_recieved_in_preservation_services.strftime("%m/%d/%Y") %></td>
        </tr>
        <tr>
          <th scope="row">Department</th>
          <td><%= controlled_vocabulary_lookup(@conservation_record.department) %></td>
        </tr>
        <tr>
          <th scope="row">Title</th>
          <td><%= @conservation_record.title %></td>
        </tr>
        <tr>
          <th scope="row">Author</th>
          <td><%= @conservation_record.author %></td>
        </tr>
        <tr>
          <th scope="row">Imprint</th>
          <td><%= @conservation_record.imprint %></td>
        </tr>
        <tr>
          <th scope="row">Call Number</th>
          <td><%= @conservation_record.call_number %></td>
        </tr>
        <tr>
          <th scope="row">Item Record Number</th>
          <td><%= @conservation_record.item_record_number %></td>
        </tr>
        <tr>
          <th scope="row">Is Digitized?</th>
          <td><%= @conservation_record.digitization %></td>
        </tr>
      </tbody>
    </table>
    <p></p>
    
    <div class="header">
      <h3>In-House Repairs</h3>
      <% if can? :crud, InHouseRepairRecord %>
        <button type="button" class="btn btn-primary cta-btn" data-toggle="modal" data-target="#inHouseRepairModal">
          Add In-House Repairs
        </button>
      <% end %>
    </div>
    <% if @in_house_repairs.count == 0 %>
      <div class="card">
        <div class="card-body">
          There are no in-house repairs to show.
        </div>
      </div>
    <% else %>
      <ul class="list-group">
        <% @in_house_repairs.each_with_index do |repair, i| %>
          <li class="list-group-item">
            <%= generate_in_house_repair_string(repair, i) %>

            <% if can? :crud, InHouseRepairRecord %>
              <%= link_to [repair.conservation_record, repair], method: :delete do %>
                <button class="btn btn-danger justify-content-right">
                  <%= image_tag "delete.png", class: "delete-icon" %>
                </button>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <br />
    <div class="header">
      <h3>External Repairs</h3>
      <% if can? :crud, ExternalRepairRecord %>
        <button type="button" class="btn btn-primary cta-btn" data-toggle="modal" data-target="#externalRepairModal">
          Add External Repair
        </button>
      <% end %>
    </div>
    <% if @external_repairs.count == 0 %>
      <div class="card">
        <div class="card-body">
          There are no external repairs to show.
        </div>
      </div>
    <% else %>
      <ul class="list-group">
        <% @external_repairs.each_with_index do |repair, i| %>
          <li class="list-group-item">
            <%= generate_external_repair_string(repair, i) %>

            <% if can? :crud, ExternalRepairRecord %>
              <%= link_to [repair.conservation_record, repair], method: :delete do %>
                <button class="btn btn-danger justify-content-right">
                  <%= image_tag "delete.png", class: "delete-icon" %>
                </button>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <br>

  <ul class="nav nav-pills" id="reportTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="treatment-report-tab" data-toggle="tab" href="#treatment-report" role="tab" aria-controls="Treatment Report" aria-selected="true">Treatment Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="conservators-note-tab" data-toggle="tab" href="#conservators-note" role="tab" aria-controls="Conservators Note" aria-selected="false">Conservator's Note</a>
    </li>
  </ul>

  <div class="tab-content" id="reportTabContent">
    <div class="tab-pane fade show active" id="treatment-report" role="tabpanel" aria-labelledby="nav-home-tab"><%= render 'treatment_reports/form' %></div>
    <div class="tab-pane fade" id="conservators-note" role="tabpanel" aria-labelledby="conservators-note"><%= render 'treatment_reports/conservators_note_form' %></div>
  </div>
      <p>
        <%= f.submit 'Save Treatment Report', class: 'btn btn-primary' %>
      </p>
    </div>
  <% end %>

  <div class="header">
    <h3>Cost and Return Information</h3>
  </div>
  <%= form_with(model: [@conservation_record, @conservation_record.cost_return_report]) do |f| %>

    <p>
      Shipping Cost<br>
      <%= f.number_field :shipping_cost, :value => (number_with_precision(f.object.shipping_cost, :precision => 2) || 0), step: 0.01, class: 'form-control' %>
    </p>

    <p>
      Repair Estimate<br>
      <%= f.number_field :repair_estimate, :value => (number_with_precision(f.object.repair_estimate, :precision => 2) || 0), step: 0.01, class: 'form-control' %>
    </p>

    <p>
      Repair Cost<br>
      <%= f.number_field :repair_cost, :value => (number_with_precision(f.object.repair_cost, :precision => 2) || 0), step: 0.01, class: 'form-control' %>
    </p>

    <p>
      Invoice Sent to Business Office<br>
      <%= f.date_field(:invoice_sent_to_business_office, class: 'form-control') %>
    </p>

    <p>
      <%= f.check_box(:complete) %>
      <%= label_tag(:complete) %>
    </p>

    <p>
      Returned to Origin<br>
      <%= f.date_field(:returned_to_origin, class: 'form-control') %>
    </p>

    <p>
      Note
      <%= f.text_area :note, class: 'form-control' %>
    </p>

    <p>
      <%= f.submit 'Save Cost and Return Information', class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
<br />

<div class="modal fade" id="inHouseRepairModal" tabindex="-1" role="dialog" aria-labelledby="inHouseRepairModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">In-House Repair</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <%= form_with(model: [@conservation_record, @conservation_record.in_house_repair_records.build]) do |form| %>
      <div class="modal-body">
        <div class="form-group">
          <label for="RepairedBy">Repaired By</label>
            <%= form.select(:performed_by_user_id, options_from_collection_for_select(@users, "id", "display_name"), { prompt: 'Select User' }, { :class => 'form-control' }) %>
        </div>
        <div class="form-group">
          <label>Repair Type</label>
          <%= form.select :repair_type, options_from_collection_for_select(@repair_types, "id", "key"), { prompt: 'Select Repair Type' }, { :class => 'form-control' } %>
        </div>
        <div class="form-group">
          <label>Minutes Spent</label>
          <%= form.number_field :minutes_spent, class: "form-control", placeholder: "Minutes" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit "Create In-House Repair Record", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="externalRepairModal" tabindex="-1" role="dialog" aria-labelledby="externalRepairModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">External Repair</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <%= form_with(model: [@conservation_record, @conservation_record.external_repair_records.build]) do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <label for="RepairedBy">Repaired By</label>
            <%= form.select(:performed_by_vendor_id, options_from_collection_for_select(@contract_conservators, "id", "key"), { prompt: 'Select Vendor' }, { :class => 'form-control' }) %>
          </div>
          <div class="form-group">
            <label>Repair Type</label>
            <%= form.select :repair_type, options_from_collection_for_select(@repair_types, "id", "key"), { prompt: 'Select Repair Type' }, { :class => 'form-control' } %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "Create External Repair Record", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if !can? :crud, ConservationRecord %>
  <script>
    $('.disable_input :input').prop('disabled', true);
  </script>
<% end %>
