<style>
.banner {
  font-size: 30px;
  background-color: maroon;
  color: white;
}

.section {
  margin-bottom: 15px;
  display: table-row;
  font-family: Calibri;
}

table {
  text-align: left;
  display: block;
}

.a4 {
  width: 800px;
  margin: 0 auto;
  display: table;
}

.tab {
  display: block; 
  margin-left: 40px; 
}
</style>
<div class="a4">
  <div class="banner section">
    Preservation Lab - Examination and Treatment Report
  </div>
  <br>
  <div class="section">
    <table width="100%">
      <tr>
        <th>Database ID</th>
        <th>Item Record #</th>
	<th>Date Received in Pres.</th>
	<th>Conservator</th>
      </tr>
      <tr>
        <td><%= @conservation_record.id %></td>
        <td><%= @conservation_record.item_record_number %></td>
        <td><%= @conservation_record.date_received_in_preservation_services %></td>
      </tr>
      <tr><td><br></td></tr>
      <tr>
	<th>Technicians</th>
      </tr>
      <tr><td><br></td></tr>
      <tr>
	<th>Department</th>
	<th>Call Number</th>
	<th>Date Returned to Origin</th>
      </tr>
      <tr>
	<td><%= controlled_vocabulary_lookup(@conservation_record.department) %></td>
	<td><%= @conservation_record.call_number %></td>
	<td><%= date_returned(@conservation_record) %></td>
      </tr>
      <tr><td><br></td></tr>
      <tr>
	<th>Title</th>
      </tr>
      <tr>
	<td><%= @conservation_record.title %></td>
      </tr>
      <tr><td><br></td></tr>
      <tr>
	<th>Author</th>
      </tr>
      <tr>
	<td><%= @conservation_record.author %></td>
      </tr>
    </table>
  </div>
  <br>
   <h2 style="color:maroon">DESCRIPTION</h2>
   <span class="tab">
	<strong>General Remarks</strong> <%= simple_format(@conservation_record.treatment_report.description_general_remarks) %>
  	<strong>Binding</strong> <%= simple_format(@conservation_record.treatment_report.description_binding) %>
  	<strong>Textblock</strong> <%= simple_format(@conservation_record.treatment_report.description_textblock) %>
  	<strong>Primary Support</strong> <%= simple_format(@conservation_record.treatment_report.description_primary_support) %>
  	<strong>Medium</strong> <%= simple_format(@conservation_record.treatment_report.description_medium) %>
  	<strong>Attachments | Inserts</strong> <%= simple_format(@conservation_record.treatment_report.description_attachments_inserts) %>
  	<strong>Housing</strong> <%= simple_format(@conservation_record.treatment_report.description_housing) %>
   </span>
   <h2 style="color:maroon">CONDITION</h2>
   <span class="tab">
	<strong>Summary</strong> <%= simple_format(@conservation_record.treatment_report.condition_summary) %>
  	<strong>Binding</strong> <%= simple_format(@conservation_record.treatment_report.condition_binding) %>
  	<strong>Textblock</strong> <%= simple_format(@conservation_record.treatment_report.condition_textblock) %>
  	<strong>Primary Support</strong> <%= simple_format(@conservation_record.treatment_report.condition_primary_support) %>
  	<strong>Medium</strong> <%= simple_format(@conservation_record.treatment_report.condition_medium) %>
  	<strong>Housing</strong> <p><%= friendly_housing(@conservation_record.treatment_report.condition_housing_id) %></p>
  	<strong>Housing Narrative</strong> <%= simple_format(@conservation_record.treatment_report.condition_housing_narrative) %>
  	<strong>Attachments | Inserts</strong> <%= simple_format(@conservation_record.treatment_report.condition_attachments_inserts) %>
  	<strong>Previous Treatment</strong> <%= simple_format(@conservation_record.treatment_report.condition_previous_treatment) %>
  	<strong>Materials Analysis</strong> <%= simple_format(@conservation_record.treatment_report.condition_materials_analysis) %>
   </span>
   <h2 style="color:maroon">TREATMENT</h2>
   <span class="tab">
	<strong>Proposal</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_proposal) %>
	<strong>Housing Need</strong> <p> <%= friendly_housing(@conservation_record.treatment_report.treatment_proposal_housing_need_id) %> </p>

	<strong>Factors Influencing Treatment</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_factors_influencing_treatment) %>
   	<strong>Performed Treatment</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_performed_treatment) %>
   	<strong>Housing Provided</strong> <p><%= friendly_housing(@conservation_record.treatment_report.treatment_proposal_housing_provided_id) %></p>
   	<strong>Housing Narrative</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_housing_narrative) %>
   	<strong>Storage and Handling Notes</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_storage_and_handling_notes) %>
   </span>
   <h2 style="color:maroon">PRODUCTION - WORK ASSIGNMENT AND TIME</h2>
   <span class="tab">
 	<table width=100%>
          <col width=150><col width=100><col width=100>
	  <ol>
   	    <% @conservation_record.in_house_repair_records.each_with_index do |repair, i| %>
		<tr>
		  <td> <b> Team Member </b></td>
		  <td colspan="3"> <%= generate_abbreviated_treatment_report_performed_by(repair,i)%> </td>
	          <td> <%= generate_abbreviated_treatment_report_time(repair,i)%> minutes </td>
		</tr>
	    <% end %>
          </ol>
          <tr>
 	    <td></td>
	    <td colspan="3"></td>
	    <td><b>TOTAL Treatment and Documentation Time</b></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td colspan="3"></td>
	    <td> <%= @conservation_record.treatment_report.treatment_proposal_total_treatment_time %> </td>
	  </tr>
        </table>
   </span>
</div>
