<style>
.banner {
  font-size: 20px;
}

.section {
  margin-bottom: 15px;
  display: table-row;
}

table {
  text-align: center;
  display: block;
}

.a4 {
  width: 800px;
  margin: 0 auto;
  display: table;
}

</style>
<div class="a4">
  <div class="banner section">
    <%= @conservation_record.title %> - <%= controlled_vocabulary_lookup(@conservation_record.department) %> - Preservation Lab - Examination and Treatment Report
  </div>
  <div class="section">
    <table width="100%">
      <tr>
        <th>Digitization</th>
        <th>Item Record #</th>
        <th>Database ID</th>
        <th>Collection</th>
        <th>Call Number</th>
        <th>Date In</th>
        <th>Date Out</th>
      </tr>
      <tr>
        <td><%= @conservation_record.digitization ? "Yes" : "No" %></td>
        <td><%= @conservation_record.item_record_number %></td>
        <td><%= @conservation_record.id %></td>
        <td><%= controlled_vocabulary_lookup(@conservation_record.department) %></td>
        <td><%= @conservation_record.call_number %></td>
        <td><%= @conservation_record.date_recieved_in_preservation_services %></td>
    </table>
  </div>
  <div class="section">
    <table width="100%">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Imprint</th>
      </tr>
      <tr>
        <td><%= @conservation_record.title %></td>
        <td><%= @conservation_record.author %></td>
        <td><%= @conservation_record.imprint %></td>
      </tr>
    </table>
  </div>
  <br>
  <h2>Description</h2>
  <strong>General Remarks</strong> <%= simple_format(@conservation_record.treatment_report.description_general_remarks) %>
  <strong>Binding</strong> <%= simple_format(@conservation_record.treatment_report.description_binding) %>
  <strong>Textblock</strong> <%= simple_format(@conservation_record.treatment_report.description_textblock) %>
  <strong>Primary Support</strong> <%= simple_format(@conservation_record.treatment_report.description_primary_support) %>
  <strong>Medium</strong> <%= simple_format(@conservation_record.treatment_report.description_medium) %>
  <strong>Attachments | Inserts</strong> <%= simple_format(@conservation_record.treatment_report.description_attachments_inserts) %>
  <strong>Housing</strong> <%= simple_format(@conservation_record.treatment_report.description_housing) %>

  <h2>Condition</h2>
  <strong>Summary</strong> <%= simple_format(@conservation_record.treatment_report.condition_summary) %>
  <strong>Binding</strong> <%= simple_format(@conservation_record.treatment_report.condition_binding) %>
  <strong>Textblock</strong> <%= simple_format(@conservation_record.treatment_report.condition_textblock) %>
  <strong>Primary Support</strong> <%= simple_format(@conservation_record.treatment_report.condition_primary_support) %>
  <strong>Medium</strong> <%= simple_format(@conservation_record.treatment_report.condition_medium) %>
  <strong>Housing</strong> <p><%= friendly_housing(@conservation_record.treatment_report.condition_housing_id) %></p>
  <strong>Housing Narrative</strong> <%= simple_format(@conservation_record.treatment_report.condition_housing_narrative) %>
  <strong>Attachments | Inserts</strong> <%= simple_format(@conservation_record.treatment_report.condition_attachments_inserts) %>
  <strong>Previous Treatment</strong> <%= simple_format(@conservation_record.treatment_report.condition_previous_treatment) %>
  <strong>Materials Analysis</strong> <%= simple_format(@conservation_record.treatment_report.condition_materials_analysis) %>

  <h2>Treatment Proposal</h2>
  <strong>Proposal</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_proposal) %>
  <strong>Housing Need</strong> <p><%= friendly_housing(@conservation_record.treatment_report.treatment_proposal_housing_need_id) %></p>
  <strong>Factors Influencing Treatment</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_factors_influencing_treatment) %>
  <strong>Performed Treatment</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_performed_treatment) %>
  <strong>Housing Provided</strong> <p><%= friendly_housing(@conservation_record.treatment_report.treatment_proposal_housing_provided_id) %></p>
  <strong>Housing Narrative</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_housing_narrative) %>
  <strong>Storage and Handling Notes</strong> <%= simple_format(@conservation_record.treatment_report.treatment_proposal_storage_and_handling_notes) %>
  <strong>Total Treatment Time</strong> <p><%= @conservation_record.treatment_report.treatment_proposal_total_treatment_time %></p>

  <h2>In-House Repairs</h2>
  <ul>
    <% @conservation_record.in_house_repair_records.each do |repair| %>
      <li><%= generate_in_house_repair_string(repair) %></li>
    <% end %>
  </ul>

  <h2>External Repairs</h2>
  <ul>
    <% @conservation_record.external_repair_records.each do |repair| %>
      <li><%= generate_external_repair_string(repair) %></li>
    <% end %>
  </ul>
</div>