<%= form_with(model: controlled_vocabulary, local: true) do |form| %>
  <% if controlled_vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(controlled_vocabulary.errors.count, "error") %> prohibited this controlled_vocabulary from being saved:</h2>

      <ul>
      <% controlled_vocabulary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-block">
  <div class="form-group">
    <%= form.label :vocabulary %>
    <%= form.select(:vocabulary, ControlledVocabulary.pluck(:vocabulary).uniq, { include_blank: 'Select Vocabulary' }, {class: 'form-control'}) %>
 </div>

  <div class="form-group">
    <%= form.label :key %>
    <%= form.text_field :key, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :active %>
    <%= form.check_box :active,class: 'btn btn-primary' %>
  </div>

  <div class="form-group">
    <%= form.label :favorite %>
    <%= form.check_box :favorite,class: 'btn btn-primary' %>
  </div>


  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
 <% end %>
 </div>
