<p id="notice"><%= notice %></p>

<h1>Controlled Vocabularies</h1>

<p>
  <% if can? :create, ControlledVocabulary %>
    <%= link_to 'New Controlled Vocabulary', new_controlled_vocabulary_path %>
  <% end %>
</p>


<table class="table">
  <thead>
    <tr>
      <th>Vocabulary</th>
      <th>Key</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlled_vocabularies.each do |controlled_vocabulary| %>
      <tr>
        <td><%= controlled_vocabulary.vocabulary %></td>
        <td><%= controlled_vocabulary.key %></td>
        <td><%= controlled_vocabulary.active %></td>
        <td><%= link_to 'Show', controlled_vocabulary %></td>
        <td><%= link_to 'Edit', edit_controlled_vocabulary_path(controlled_vocabulary) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
