<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Controlled Vocabularies</h1>
  <% if can? :create, ControlledVocabulary %>
    <%= link_to 'New Controlled Vocabulary', new_controlled_vocabulary_path , class: "btn btn-primary justify-content-right"%>
  <% end %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Vocabulary</th>
      <th>Key</th>
      <th>Active</th>
      <th>Favorite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlled_vocabularies.each do |controlled_vocabulary| %>
      <tr>
        <td><%= controlled_vocabulary.vocabulary %></td>
        <td><%= link_to controlled_vocabulary.key, controlled_vocabulary %></td>
        <td><%= controlled_vocabulary.active %></td>
        <td><%= controlled_vocabulary.favorite %></td>
      </tr>
    <% end %>
  </tbody>
</table>
