<p id="notice"><%= notice %></p>

<h1>
  <strong>Vocabulary:</strong>
  <strong> <%= @controlled_vocabulary.vocabulary %> </strong>
</h1>

<p>
  <strong>Key:</strong>
  <%= @controlled_vocabulary.key %>
</p>

<p>
  <strong>Active:</strong>
  <%= @controlled_vocabulary.active %>
</p>
<%= link_to 'Edit', edit_controlled_vocabulary_path(@controlled_vocabulary) %> |
<%= link_to 'Return to List', controlled_vocabularies_path %>
