<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Treatment Database', root_path, class: 'navbar-brand' %>

    <!-- Hamburger menu button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">

        <% if can? :read, ConservationRecord %>
          <li class="nav-item">
            <%= link_to('Conservation Records', conservation_records_path, class: 'nav-link') %>
          </li>
        <% end %>

        <% if can? :read, ControlledVocabulary %>
          <li class="nav-item">
            <%= link_to('Vocabularies', controlled_vocabularies_path, class: 'nav-link') %>
          </li>
        <% end %>

        <% if can? :manage, User %>
          <li class="nav-item">
            <%= link_to('Users', admin_users_path, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Activity', activity_index_path, class: 'nav-link') %>
          </li>
        <% end %>

        <% if can? :manage, Report %>
          <li class="nav-item">
            <%= link_to('Reports', reports_path, class: 'nav-link') %>
          </li>
        <% end %>

        <% if can? :read, StaffCode %>
          <li class="nav-item">
            <%= link_to('Staff Codes', staff_codes_path, class: 'nav-link') %>
          </li>
        <% end %>

        <li class="nav-item">
          <form class="form-inline d-flex" action="/search" accept-charset="UTF-8" method="get">
            <input id="search" placeholder="Search" class="form-control me-2" type="text" name="search">
            <a class="search-help-icon align-self-center me-2" href="/search/help">(?)</a>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </li>

        <li class="nav-item dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.display_name %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Edit account", edit_user_path(current_user), class: 'dropdown-item' %>
            <%= link_to('Logout', logout_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
