<h1><%= 'Reports' %></h1>

<p>

<%= link_to 'New Report', reports_path, class: "btn btn-primary justify-content-right", method: :post %>

</p>
<table class="table">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>File</th>
      <th colspan="4"></th>
    </tr>
  </thead>
<tbody>
<% unless @reports.nil? %>
  <% @reports.each do |report| %>
  <tr>
  <td>
    <%=report.created_at %>
  </td>
  <td>
    <%= link_to report.csv_file.filename, url_for(report.csv_file)  %>
  </td>
  <td>
    <%= button_to 'Delete', report_path(report), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}  %>
  </td>

  </tr>
  <% end %>
<%end %>
</tbody>
</table>
