<h1><%= 'Reports' %></h1>


<%= search_form_for([:report, @q], url: url_for(controller: 'reports', action: 'index')) do |f| %>

<div class="form-block">
 <div class="form-group">
    <%= f.label "Beginning date returned to origin" %>
    <%= f.date_field :returned_to_origin_gteq, class: "form-control" %>
 </div>

  <div class="form-group">
    <%= f.label "Ending date returned to origin" %>
    <%= f.date_field :returned_to_origin_lteq, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.check_box :complete_eq, {}, true, false %>
    <%= f.label "Limit to complete records (returned to origin)" %>
  </div>

  <br>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
 <% end %>
</div>

 <br>

<% if @results.empty? %>
   <p> No Results </p>
<% end %>
   <table class="table">
      <col scope="col">
      <col scope="col">
      <col scope="col">
      <col scope="col">
      <col scope="col">
      <tr>
	<th>Database ID</th>
	<th>Department</th>
	<th>Title</th>
	<th>Item Record#</th>
	<th>In-House Repairs</th>
      </tr>
      <% @results.each do |result| %>
      <tr>
        <td><%= result.conservation_record.id %></td>
	<td><%= controlled_vocabulary_lookup(result.conservation_record.department) %></td>
	<td><%= link_to result.conservation_record.title,result.conservation_record %></td>
        <td><%= result.conservation_record.item_record_number %></td>
 	<% result.conservation_record.in_house_repair_records.each_with_index do |repair, i| %>
	  <td><%= generate_abbreviated_treatment_report_type(repair,i)%>, <%= generate_abbreviated_treatment_report_performed_by(repair,i)%>, <%= generate_abbreviated_treatment_report_time(repair,i)%><td>
        <%end%>
      </tr>
<%end%>
    </table>
