<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Treatment Database</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="<%= webpack_stylesheet_path %>" media="all" data-turbolinks-track="reload">
    <script src="<%= webpack_javascript_path %>" type="module" data-turbo-track="reload"></script>

  </head>

  <body>
    <%= render navigation_links(current_user) %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
