<!DOCTYPE html>
<html>
  <head>
    <title>TreatmentDatabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <div class="alert"><%= alert %></div>
    <% elsif notice %>
      <div class="notice"><%= notice %></div>
    <% end %>
    <%= render 'shared/navigation' %>
    <%= yield %>
  </body>
</html>
